<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h3><b>Login</b></h3>
    <form action="http://localhost:3001/userApp/login" method="post">
        
        <label>
            Username: <input type="text" name="userName" placeholder="Enter your Username" required>
        </label>
        <br>
        <label>
            Password: <input type="password" name="password" placeholder="Enter your Password" required>
        </label>
        
        <input type="submit" value="Login">
    </form>
</body>
</html>