<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><b>Sign Up</b></h3>
    <form action="http://localhost:3001/userApp/Signup" method="post">
        <label>
            User ID: <input type="text" name="userId" placeholder="Enter your User ID" required>
        </label>
        <br>
        <label>
            Username: <input type="text" name="userName" placeholder="Enter your Username" required>
        </label>
        <br>
        <label>
            Password: <input type="password" name="password" placeholder="Enter your Password" required>
        </label>
        <br>
        <label>
            City: <input type="text" name="city" placeholder="Enter your City" required>
        </label>
        <br>
        <input type="submit" value="Sign Up">
    </form>
</body>

</html>